[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/gayuhari
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gayuhari
	label-Verified = -1..+1 group user/gayuhari
	push = group user/gayuhari
	read = group user/gayuhari
	rebase = group user/gayuhari
	removeReviewer = group user/gayuhari
	submit = group user/gayuhari
[access "refs/heads/*"]
	create = group user/gayuhari
	push = +force group user/gayuhari
	pushMerge = group user/gayuhari
	read = group user/gayuhari
[access "refs/tags/*"]
	push = group user/gayuhari
	push = +force group user/gayuhari
